<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <base href="/">
    <link rel="stylesheet" href="/output.css">
    <title>Chat</title>
</head>
<body>
    <div>
        <div>
            <div class="relative min-h-screen flex flex-col bg-red-500 bg-opacity-20">
                <nav class="flex-shrink-0 bg-red-600">
                    <div class="max-w-7xl mx-auto- px-2 sm:px-4 lg:px-8">
                        <div class="relative flex items-center justify-between h-16">
                            <div>
                            </div>
                            <div class="flex lg:hidden">
                                <button class="bg-red-600 inline-flex item-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-red-600 focus:outline-none focus:ring-offter-2 focus:ring-offset-red-600 focus:ring-white">
                                    <div class="block text-4xl font-semibold">
                                        &equiv;
                                    </div>
                                </button>
                            </div>

                            <div class="hidden lg:block lg:w-80">
                                <div class="flex items-center justify-center ">
                                    <div class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-700  focus:outline-none hover:bg-opacity-10 cursor-pointer">
                                        <svg version="1.1" id="Layer_1" width="24" height="24" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><g class="Bell-body"><path  id="campanita2" class="Bell-clapper" d="M12.9,18.9c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9H9.7c0,1.3,1,2.3,2.3,2.3s2.3-1,2.3-2.3H12.9z" style="fill: white;"></path><path id="camapanita1" d="M19.2,14.7c-0.6-0.6-1.2-1.2-1.2-4.1c0-3-2.2-5.4-5-5.9c0.1-0.2,0.2-0.4,0.2-0.6
                                            c0-0.6-0.5-1.1-1.1-1.1S10.9,3.4,10.9,4c0,0.2,0.1,0.5,0.2,0.6c-2.8,0.5-5,2.9-5,5.9c0,2.9-0.6,3.5-1.2,4.1
                                            c-1.7,1.7-0.5,4.2,1.6,4.2h3.3h4.6h3.3C19.7,18.9,20.9,16.4,19.2,14.7z M17.6,17.1H6.4c-0.6,0-0.9-0.7-0.5-1.1c1-1,1.8-2,1.8-5.5
                                            c0-2.3,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2c0,3.5,0.8,4.4,1.8,5.5C18.5,16.4,18.2,17.1,17.6,17.1z" style="fill: white;"></path></g>
                                            <circle class="hidden" cx="17" cy="7" r="5" style="fill: rgb(255, 72, 66);"></circle>
                                        </svg>
                                    </div>
                                    <div class="flex">
                                        <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white">
                                            Chat
                                        </a>
                                    </div>
                                    <div class="ml-4 relative flex-shrik-0">
                                        <div>
                                            <buttom class="bg-red-700 flex text-sm rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-700 focus:ring-white">
                                                <img class="h-10 w-10 rounded-full object-cover" src="../img/vicky-hladynets-C8Ta0gwPbQg-unsplash.jpg"/>
                                            </buttom>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </nav>
                <!-- NAV SECTION ENDS HERE -->
                <!-- Chat layout start here -->
                <div class="flex-grow w-full max-w-7xl mx-auto lg:flex">
                    <div class="flex-1 min-w-0 bg-white xl:flex">
                        <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-300 bg-gray-500 bg-opacity-10">
                            <div class="h-full pl-4 pr-2 py-6 sm:pl-6 lg:pl-8 xl:pl-2">
                                <div class="h-full relative">
                                    <div class="realtive rounded-lg px-2 py-2 flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-red-500 mb-4">
                                        <div class="flex-shrink-0">
                                            <img class="object-cover h-12 w-12 rounded-full" src="../img/vicky-hladynets-C8Ta0gwPbQg-unsplash.jpg"/>
                                        </div>
                                        <div class="flex-1 min-w-0">
                                            <a href="#" class="focus:outline-none">
                                                <span class="inset-0" />
                                                <p class="text-sm font-bold text-red-600">
                                                    Vicky Hladynets
                                                </p>
                                                <p class="text-sm text-gray-500 truncate">
                                                    Desarrollador Web
                                                </p>
                                            </a>                      
                                        </div>
                                    </div>
                                    <!-- SEARCH BOX END -->
                                    <div class="mb-4">
                                        <div class="relative">
                                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                                <svg class="h-5 w-5 text-gray-400" aria-hidden="true" focusable="false" data-prefix="far" data-icon="search" class="svg-inline--fa fa-search fa-w-16 " role="img" viewBox="0 0 512 512" data-reactid="55"><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z" data-reactid="56"></path></svg>
                                            </div>
                                            <input
                                                placeholder="Friends"
                                                name="search"
                                                class="focus:ring-red-500 focus:border-red-500 block w-full pl-10 sm:text-sm border-gray-200 rounded-full p-2 border"
                                            >
                                        </div>
                                    </div>
                                    <!-- SEARCH BOX END -->
                                    <!-- USER 1 CHAT -->
                                    <div class="relative rounded-lg px-2 py-2 flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 mb-3 hover:bg-gray-200">
                                        <div class="flex-shrink-0">
                                            <img class="h-10 w-10 rounded-full " src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg">
                                        </div>
                                        <div class="flex-1 min-w-0">
                                            <a href="#" class="focus:outline-none">
                                                <div class="flex items-center justify-between">
                                                    <p class="text-sm font-bold text-red-600">
                                                        Abdullah Ali
                                                    </p>
                                                    <div class="text-gray-400 text-xs">
                                                        12:35 AM
                                                    </div>
                                                </div>
                                                <div class="flex text-center justify-between">
                                                    <p class="text-sm text-gray-500 truncate">
                                                        Hi
                                                    </p>
                                                    <div class="text-white w-6 h-6 bg-red-400 rounded-full px-1 py-0">
                                                        2
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- USER 1 CHAT -->
                                    <!-- USER 2 CHAT -->
                                    <div class="relative rounded-lg px-2 py-2 flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 mb-3 hover:bg-gray-200">
                                        <div class="flex-shrink-0">
                                            <img class="h-10 w-10 rounded-full " src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg">
                                        </div>
                                        <div class="flex-1 min-w-0">
                                            <a href="#" class="focus:outline-none">
                                                <div class="flex items-center justify-between">
                                                    <p class="text-sm font-bold text-red-600">
                                                        Abdullah Ali
                                                    </p>
                                                    <div class="text-gray-400 text-xs">
                                                        12:35 AM
                                                    </div>
                                                </div>
                                                <div class="flex text-center justify-between">
                                                    <p class="text-sm text-gray-500 truncate">
                                                        Hi
                                                    </p>
                                                    <div class="text-white w-6 h-6 bg-red-400 rounded-full px-1 py-0">
                                                        2
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- USER 2 CHAT -->
                                </div>
                            </div>
                        </div>

                        <!-- MIDDLE CONTENT START -->
                        <div class="flex-1 p:2 sm:pb-6 justify-between flex flex-col h-screen hidden xl:flex">
                            <div class="flex sm:items-center justify-between py-3 border-b border-gray-200 p-3">
                                <div class="flex items-center space-x-4">
                                    <img src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg" 
                                        class="w-10 sm:w-12 h-10 sm:h-12 rounded-full cursor pointer"
                                    >
                                    <div class="flex flex-col leading-tight">
                                        <div class="text-1xl mt-1 flex items-center">
                                            <span class="text-gray-700 mr-3">Abdullah Ali</span>
                                            <span class="text-green-500">
                                                <svg width="10" height="10">
                                                    <circle cx="5" cy="5" r="5" fill="currentColor"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center space-x-2">
                                    <button class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                                        <svg class="h-5 w-5 text-gray-400" 
                                            aria-hidden="true" 
                                            focusable="false" 
                                            data-prefix="far" 
                                            data-icon="search" 
                                            class="svg-inline--fa fa-search fa-w-16 " 
                                            role="img" 
                                            viewBox="0 0 512 512" 
                                            data-reactid="55">
                                            <path fill="currentColor" 
                                            d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z" 
                                            data-reactid="56"></path>
                                        </svg>
                                    </button>
                                    <button class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                            class="h-6 w-6 "
                                        >  
                                            <path 
                                                strokeLineCap="round"
                                                strokeLineJoin="round"
                                                strokeWidth="2"
                                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 8z"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <!-- MESSAGES STARTS HERE -->
                            <div id="messages" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">

                                <!-- Messages -->
                                <div class="chat-message">
                                    <div class="flex item-end">
                                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                                            <div>
                                                <span class="font-medium text-sm px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-200 text-gray-600">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                </span>
                                            </div>
                                        </div>
                                        <img src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg" alt="" class="w-8 h-8 rounded-full order-1">
                                    </div>
                                </div>
                                <!-- Messages -->
                                <!-- Messages 2 -->
                                <div class="chat-message">
                                    <div class="flex item-end justify-end">
                                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-end">
                                            <div>
                                                <span class="font-medium text-sm px-4 py-2 rounded-lg inline-block rounded-bl-none bg-red-500 text-white">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                </span>
                                            </div>
                                        </div>
                                        <img src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg" alt="" class="w-8 h-8 rounded-full order-1">
                                    </div>
                                </div>
                                <!-- Messages 2-->
                            </div>
                            <!-- MESSAGES STARTS HERE -->

                            <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 mb-5">
                                <div class="relative flex">
                                    <span class="absolute inset-y-0 flex items-center">
                                        <button class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300">
                                            <svg class="h-6 w-6 text-gray-600"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path 
                                                strokeLineCap="round"
                                                strokeLinejoin="round"
                                                strokeWidth="2"
                                                d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"/>

                                            </svg>
                                        </button>
                                    </span>
                                    <input x    
                                        placeholder="Write Something" 
                                        class="focus:ring-red-500 focus:border-red-500 w-full focus:placeholder-gray-400 text-gray-600 placeholder-gray-300 pl-12 bg-gray-100 rounded-full py-3 border-gray-200">
                                </div>
                            </div>
                        </div>
                        <!-- MIDDLE CONTENT START -->
                    </div>

                    <div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-2 hidden xl:block">
                        <div class="h-full pl-6 py-6 lg:w-80">
                            <div class="h-full relative">
                                <div class="m-auto text-center mb-10">
                                    <img 
                                        src="../img/abdullah-ali-1w9I6H4aftw-unsplash.jpg" 
                                        class="w-36 h-36 rounded-full m-auto"
                                    >
                                    <h2 class="m-auto text-2xl mt-2">Abdullah Ali</h2>
                                </div>

                                <div class="mb-2">
                                    <h4>Attachmeents</h4>
                                </div>
                                
                                <div class="grid grid-cols-4 gap-2">
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cursor-pointer bg-gray-300 hover:bg-gray-400 h-14 w-full">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>